@font-face {
  font-family: 'njnaruto';
  src: local('njnaruto'), url(./njnaruto.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

:root {
  --narutoBlue: #022d6c;
}

body {
  font-family: 'njnaruto';
  background-color: white;
  color: var(--narutoBlue);
  background-image: url(https://cdn.staticneo.com/w/naruto/Nprofile2.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.App {
  margin: auto;
  text-align: center;
}

.banner {
  padding: 15px 0;
  background-color: var(--narutoBlue);
}

button {
  background-color: #c0c4bc;
  color: #41423d;
  border: 3px solid var(--narutoBlue);
  border-radius: 10px;
  padding: 15px;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  font-weight: bold;
}

.buttonText {
  padding: 0 50px;
  font-size: 25px;
}

.headbandCircles {
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

ul {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  list-style: decimal;
  text-align: left;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

li {
  font-size: 25px;
}
