@font-face {
  font-family: "njnaruto";
  src: local("njnaruto"), url(./njnaruto.ttf) format("truetype");
}

:root {
  --narutoBlue: #022d6c;
}

body {
  background-color: white;
  color: var(--narutoBlue);
  background-image: url(https://cdn.staticneo.com/w/naruto/Nprofile2.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.App {
  margin: auto;
  text-align: center;
}

.header {
  font-family: "njnaruto";
  padding: 15px 30px;
  background-color: var(--narutoBlue);
  text-align: center;
}

.name-counter {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.counter-text {
  font-family: "njnaruto";
}
.counter-button {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: #ec8f45;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}

button {
  background-color: #c0c4bc;
  color: #41423d;
  border: 3px solid var(--narutoBlue);
  border-radius: 10px;
  padding: 10px;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  font-weight: bold;
}

.buttonText {
  padding: 0 25px;
  font-size: 25px;
}

.headbandCircles {
  font-size: 30px;
}

h1 {
  color: white;
  font-size: 40px;
  margin: 0;
  margin-bottom: 15px;
}

.content-wrapper {
  width: 100%;
  margin-top: 15px;
}

.name-list-container {
  width: calc(100% - 120px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.name-container {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.1s ease-in-out;
}
.name-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 720px) {
  .header {
    text-align: left;
  }
  .content-wrapper {
    width: calc(100% - 300px);
  }
  .name-counter {
    justify-content: flex-start;
  }
}
